<mat-toolbar>
    <span>ANGULAR APPLICATION</span>
  </mat-toolbar>
  
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand " routerLink="" aria-label="Bootstrap"> ANGULAR</a>
    <div class="">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/category">CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product">PRODUCTS</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
