table {
  width: 100%;
}

.contactlist-container, #paginator {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1200px;
  max-height: 700px;
  overflow: auto;
  margin: 0 auto;
}

.example-form-field {
  width: 200px;
  margin-left: 70%;
}

.btnCreate {
  margin-left: 50px;
}

.spinner{
  top: 45%;
  left: 47%;
  position: fixed;
}